<div class="navigation">
    <nav class="navbar navbar-expand bg-green mt" id="Nav">
        <div class="container">
            <a href="#" class="l text-decoration">Mini Market :: Admin</a>
        </div>
        <ul class="navbar-nav ml-auto">
            </li>
            <li class="nav-item">
                
                  <a href="profile" class="nav-link">  <%= (locals.name) ? name : '' %></a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link"><%= (locals.status) ? status : '' %></a>
                    
               
            </li>
            <li class="nav-item">
                <a href="Table" class="nav-link">Table</a>
            </li>
            <li class="nav-item">
                <a href="logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
</div>